
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 35px;
    color: var(--lightFontColor);
    font-family: var(--fontFamily);
    width: 100%;
    margin-bottom: 40px;
}

.number {
    font-family: var(--codeFontFamily);
    color: var(--primaryColor);
    font-size: 24px;
    padding-bottom: 7px;
    margin-right: 10px;
}

.title {
    font-weight: 600;
    width: fit-content;
    white-space: nowrap;
}

.separator {
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
    height: 1px;
    background: #233554;;
}

@media (max-width: 800px) {
    .container {
        font-size: 30px;
    }
}